extends layout 

block content 
    div(class="d-flex flex-column" style="width: 100vw; height: 100vh;")
        nav(class="navbar navbar-expand-lg bg-light mb-3" style="width: 100vw;")
            div(class="container-fluid")
                a(class="navbar-brand" href="/")
                    h2 Home
                div(class="collapse navbar-collapse")
                div(class="navbar-nav")
                    a(class="nav-link active" href="/users/" + person._id + "/about") About 
                    a(class="nav-link active" href="/users/" + person._id) Timeline
                    a(class="nav-link active" href="/users/" + person._id + "/friends") Friends
                    form(action="/log-out" method='POST' class="d-flex flex-row")
                        button(type="submit" class="btn btn-primary") Log out 
        div(class="d-flex flex-row mb-3")
            div(class="d-flex flex-row" style="align-items: center; gap: 30px; margin-left: 20px;")
                div(class="d-flex flex-column" style="align-items: center;")
                    img(class="profile" src= person.pic ? person.pic : "/images/person.png" style="width: 10rem; height: 10rem;")
                    if person.username === user.username
                        - var changePhoto = person.pic ? "Change profile photo" : "Add profile photo"
                        button(class="btn btn-primary")= changePhoto
                h1= person.username
            div(style="width: 100%;")
            if user.username !== person.username 
                if user.friends.indexOf(person._id) === -1 && user.sentRequests.indexOf(person._id) === -1
                    form(class="d-flex flex-row" style="align-items: center; margin-right: 20px" action="/users/" + person._id + "/send-request" method='POST')
                        button(class="btn btn-primary") Send friend request
                else if user.friends.indexOf(person._id) === -1
                    form(class="d-flex flex-row" style="align-items: center; margin-right: 20px" action="/users/" + person._id + "/remove-request" method='POST')
                        button(class="btn btn-primary") Remove friend Request 
                else
                    form(class="d-flex flex-row" style="align-items: center; margin-right: 20px" action="/users/" + person._id + "/unfriend") 
                        button(class="btn btn-primary") Unfriend 
        hr
        div(class="container-xxl d-flex flex-column" style="align-items: center;")
            if person.friends.length === 0
                h4 No friends
            for user in person.friends 
                div(class="card d-flex flex-row pb-2 pt-2 mb-3" style="width: 40rem; gap: 5px; align-items: center;")
                    img(src= user.pic ? user.pic : "/images/person.png" class="profile" style="margin-left: 5px; width: 3rem; height: 3rem;")
                    a(href="/users/" + user._id class="card-title")= user.username
                    div(class="collapse navbar-collapse")
                    if user.username !== person.username 
                        if user.friends.indexOf(person._id) === -1 && user.sentRequests.indexOf(person._id) === -1
                            form(action="/users/" + person._id + "/send-request" method='POST')
                                button(class="btn btn-primary") Send friend request
                        else if user.friends.indexOf(person._id) === -1
                            form(action="/users/" + person._id + "/remove-request" method='POST')
                                button(class="btn btn-primary") Remove friend Request 
                        else
                            form(action="/users/" + person._id + "/unfriend") 
                                button(class="btn btn-primary") Unfriend 