doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/logsign.css')
    meta(name="viewport" content="width=device-width, height=device-height")
  body
    div(class="left")
      h1 facebook 
      p Connect with friends and the world around you on Facebook.
    
    div(class="right")
      form(action="/log-in" method='POST')
        input(name="username" type="text" minlength ="3" maxlength="30" placeholder="Name")
        input(name="password" type="password" placeholder="Password")
        button(type="submit") Log in
      hr(style="width: 100%;")
      a(href="/sign-up")
        button Create new account 
