doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/logsign.css')
    meta(name="viewport" content="width=device-width, height=device-height")
  body
    div(class="left")
      h1 Sign Up
      p Join a worldwide community of users. Start your online jourmey now. It's quick and easy.
    
    div(class="right")
      form(action="/log-in" method='POST')
        input(name="username" type="text" minlength ="3" maxlength="30" placeholder="Name")
        input(name="password" type="password" placeholder="Password")
        button(type="submit") Sign Up
      hr(style="width: 100%;")
      a(href="/log-in")
        button Already have an account? Log in